
@{
    ViewData["Title"] = "chromebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Acer_Logo.svg/2560px-Acer_Logo.svg.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Acer ChromeBook </h2>
    <p class="des">A Chromebook (styled as chromebook) is a laptop or tablet running the Linux-based Chrome OS as its operating system. Chromebooks are primarily used to perform a variety of tasks using the Google Chrome browser, with most applications and data residing in the cloud rather than on the machine itself.[1][2][3] All Chromebooks released since late 2017 can also run Android apps. Some Chromebooks can also run Linux apps </p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>Chromebook 317</td>
        <td> ACER Chromebook 317 Laptop Comes with Intel Celeron N4500 Processor, 4GB LPDDR4x Memory and 64GB eMMC SSD solid state drive internal storage. The Laptop has 17.3 inch screen size, Height 0.89 x Width 15.8 x Depth 10.5 Physical Dimension and 5.29 lbs weight and 3-cell Lithium Ion (Li-Ion) 56Whr battery.</td>
        <td>41000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Chromebook Spin 713 (2021)</td>
        <td> ACER Chromebook Spin 713 (CP713-3W) Laptop Comes with 11th Generation Intel Core i5-1135G7 Processor, 8GB LPDDR4x Dual-channel Memory and 256GB, PCIe Gen3 8 Gb/s, NVMe SSD solid state drive internal storage. The Laptop has 13.5 inch screen size, 300.6 (W) x 235 (D) x 16.9 (H) mm Physical Dimension and 1.37 Kg weight and 3-cell Lithium Ion (Li-Ion) 56Whr battery.</td>
        <td>77000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Chromebook Enterprise Spin 514 (AMD)</td>
        <td>1ACER Chromebook Enterprise Spin 514 Laptop Comes with AMD Ryzen 5 3500C Processor, 8GB DDR4 Memory and 128GB eMMC SSD solid state drive internal storage. The Laptop has 14 inch screen size, Height 0.68 x Width 12.7 x Depth 8.9 Physical Dimension and 3.64 lbs weight and Lithium Ion (Li-Ion) battery.</td>
        <td>83000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Chromebook Spin 514 AMD (2021)</td>
        <td>ACER Chromebook Spin 514 Laptop Comes with AMD Ryzen 5-3500C Processor, 8GB DDR4 Memory and 128GB eMMC SSD solid state drive internal storage. The Laptop has 14 inch screen size, Height 0.68 x Width 12.7 x Depth 8.9 Physical Dimension and 3.64 lbs weight and Lithium Ion (Li-Ion) battery.</td>
        <td>66000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Chromebook Spin 512 Laptop (2021)</td>
        <td>Acer Chromebook Spin 512 (R853TA) Convertible Laptop comes with, Intel Pentium Silver N6000 Processor, 8GB LPDDR4 Memory and 64GB eMMC SSD Solid State drive internal storage. The Laptop has 12 inches screen size, Height 0.83 x Width 11.7 x Depth 9.1 Physical Dimension and 2.87 lbs Weight and 3-cell Lithium Ion (Li-Ion) 48Wh battery.</td>
        <td>58000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Chromebook 311 (2021) Nepal</td>
        <td>Acer Chromebook 311 (C722) Laptop comes with MediaTek (MT8183) ARM Processor, 4GB LPDDR4x Memory and 32GB eMMC, SSD Solid State drive internal storage. The Laptop has 11.6 inch screen size, 11.8 x 8.1 x 0.8 in (300 x 205.3 x 21.2 mm) Physical Dimension and 3 pounds Weight and 4-cell, 47Wh Li-ion polymer battery.</td>
        <td>29000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Chromebook Spin 713 (Core i7)</td>
        <td>Acer Chromebook Spin 713 Convertible Laptop comes with 10th Gen, Core i7-10610U Processor, 16GB DDR4 Memory and 256GB SSD Solid State drive internal storage. The Laptop has 13.5 inch screen size, Height 0.66 x Width x 11.8 x Depth 9.3 Physical Dimension and 3.02 lbs Weight and 3-cell Lithium Ion (Li-Ion) battery.</td>
        <td>121000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Chromebook Spin 713 10th Gen</td>
        <td>Acer Chromebook Spin 713 Convertible Laptop comes with 10th Gen, Core i7-10510U Processor, 16GB DDR4 Memory and 128GB SSD Solid State drive internal storage. The Laptop has 13.5 inch screen size, Height 0.66 x Width x 11.8 x Depth 9.3 Physical Dimension and 3.02 lbs Weight and 3-cell Lithium Ion (Li-Ion) battery.</td>
        <td>99000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

