
@{
    ViewData["Title"] = "nitrodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Acer_Logo.svg/2560px-Acer_Logo.svg.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Acer Nitro </h2>
    <p class="des">If you love gaming but don’t have much to spend on a laptop, Acer Nitro Series gaming laptops would serve you the best. It includes compelling gaming laptops like Nitro 5 and Nitro 7, which proved best in their respective price segments on multiple occasions. Packed with the latest generation of processor and capable graphics cards, the laptop has been delivering remarkable gaming performance. Some of the Nitro laptops also pack high-refreshing displays. </p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>Nitro 7</td>
        <td> 15.6 inch FHD Display with 60Hz refresh rate, Intel Core i7-10th gen Gaming Processor,  GTX 1650 Rayzon Graphics card, 24GB DDR4 RAM,  1TB SSD DDR4 Harddisk</td>
        <td>165000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Nitro 5</td>
        <td>15.6 inch FHD 144Hz display, Intel Core i5-10th gen Processor,  GTX 1650 Ti Graphics Card, 8GB DDR3 RAM, 512GB SSD DDR3 Harddisk</td>
        <td>132000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Nitro 5 AMD</td>
        <td>15.6 inch FHD 144Hz Display, Ryzen 5 4600H Gaming Processor, GTX 1650 Ti Graphical processing unit (GPU),  8GB DDR4 RAM, 1TB HDD Harddisk</td>
        <td>125000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Nitro 5 Spin</td>
        <td>Acer Nitro 5 spin Core™ i7-8550U 1TB HDD 8GB 15.6" (1920x1080) Convirtible Touch BT WIN10 Webcam NVIDIA® GTX 1050 4GB OBSIDIAN BLACK Backlit Keyboard</td>
        <td>143000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>

</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

