
@{
    ViewData["Title"] = "spindes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Acer_Logo.svg/2560px-Acer_Logo.svg.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Acer Spin </h2>
    <p class="des">A computing device that comfortably converts into a laptop and a tablet as per your needs. How cool is that? Acer Spin Series of laptops are such feature-laptops, which come with a 360-degree hinge. These laptops come in a portable form factor, touch-screen display, and decent performance. Swift laptops are mostly affordable and suit the needs of artists and digital art enthusiast, who loves taking out their styluses and creating digital artworks and designs.</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>Spin 7</td>
        <td>
            Acer Spin 7 SP714-51-M5CD Notebook Laptop comes with Windows 10 Home 64-bit Operating System, 7th Generation Intel Core i7-7Y75 Dual-core (2 Core) processor ticking at 1.3 GHz Upto (3.6 GHz) / 4 MB Cache clock rate, 8GB LPDDR3 Memory and 256GB PCIe NVMe SSD Solid State drive internal storage.
            Acer Spin 7 SP714-51-M5CD Notebook Laptop also has DTS Sound,Integrated stereo speakers, Acer True Vision web cam, Microphone, Full-size backlit island-style keyboard.
            The Laptop has 14.0 inch screen size, 12.9 in x 9.3 in x 0.4 inches  (W x D x H) Physical Dimension and 2.65 lbs Weight and 4-cell Lithium Ion (Li-Ion) 2770 mAh battery.
        </td>
        <td>99000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spin 5 (2020)</td>
        <td> Acer Spin 5 is a 2 in 1 Convertible  laptop. It has display of 13.3 inches and IPS Panel Full HD / Touchscreen 1920×1080 px resolution. The central processing unit of this laptop is  Intel Core i5 8250U 1.6GHz. It has 8GB RAM and 256GB SSD Memory. It weights around 1.5kg. It has inbuilt Intel UHD Graphics 620 GPU and runs on Windows 10.</td>
        <td>107000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spin 5</td>
        <td>
            Acer Spin 5 (SP513-52N-52PL) Notebook Convertible Laptop Comes with Windows 10 Home 64-bit Operating System, 8th Generation Intel Core i5-8250U Processor ticking at 1.6GHz with Turbo Boost Technology up to 3.4GHz (6MB Smart cache) clock Rate, 8GB DDR4 Dual Channel Memory Upto 256GB SSD Solid State drive internal storage.
        </td>
        <td>88000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spin 3</td>
        <td>1Brand new factory-sealed Acer Spin 3 2020 2-in-1 with 10th Gen Intel Core i7-1065G7 processor, 8GB LPDDR4x RAM, 512GB NVMe SSD storage, 14-inch IPS LCD TouchScreen Display with Full-HD (1920 x 1080 pixels) resolution, power-packed 2-in-1 convertible laptop with a Rechargeable stylus, FP Reader, Backlit keyboard, 0.67" thickness, 1.5KG weight, BT WIN10 Webcam PURE SILVER</td>
        <td>120000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spin 1</td>
        <td>4 inch HD display with 360 Touch screen, Ryzen 3 3250U Processor, Radeon Graphics card, 4GB DDR3 RAM, 256GB SSD DDR3 Harddrive</td>
        <td>72000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

