
@{
    ViewData["Title"] = "gseriesdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Dell_Logo.svg/480px-Dell_Logo.svg.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Dell G-series</h2>
    <p class="des">The Dell G Series is the successor to the Dell Inspiron Gaming Series (Pandora). It was launched in April 2018. This series is positioned below Alienware and competes with Lenovo's Legion, Acer's Nitro and Predator Helios, HP's Omen and Pavilion Power laptops.[citation needed] During CES 2019, Dell updated the G5 and G7. The G7 is now available in both 15" and 17" screen. Other upgrades includes a 144Hz refresh rate for the display with G-SYNC support and the inclusion of RGB keyboard. A G5 SE (special edition) was also announced during the trade show and differs from the regular G5 by being finished in alpine white and having a portion of the bottom panel transparent.</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>G3 Gaming Laptop</td>
        <td>Dell G3 15 3500 (2020) Gaming Laptop comes with Windows 10 Home 64-bit Operating System, 10th Gen, Core i5-10300H Processor ticking at (8MB Cache, up to 4.5 GHz, 4 cores) clock rate, 16GB DDR4 2933Mhz Memory and up to 512GB M.2 PCIe NVMe SSD Solid State Drive internal storage. Dell G3 15 3500 (2020) Gaming Laptop also has DTS Sound,Integrated stereo speakers, Dell True Vision web cam, Microphone, Standard full-size, spill-resistant with numeric 4-Zone RGB Backlit Keyboard. The Laptop has 15.6 inch screen size, Height: 0.85 (21.6mm) x Width: 14.4 (365.5mm) x Depth: 10 (254mm) Physical Dimension and 5.18 lbs (2.34 kg) weight and 3-Cell, 51 WHr, Integrated battery.</td>
        <td>121000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>G3 15 Gaming Laptop</td>
        <td>Dell G3 15 3500 (2020) Gaming Laptop comes with 10th Gen, Core i7-10750H Processor, 16GB DDR4 2933Mhz Memory and 512GB M.2 PCIe NVMe SSD Solid State Drive internal storage. The Laptop has 15.6 inch screen size, Height: 0.85 (21.6mm) x Width: 14.4 (365.5mm) x Depth: 10 (254mm) Physical Dimension and 5.18 lbs (2.34 kg) weight and 3-Cell, 51 WHr, Integrated battery.</td>
        <td>110000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>G3 17 Core i7 8th Gen 6GB </td>
        <td>Dell G3 Gaming Laptop comes with Windows 10 Home 64-bit Operating System, 8th Generation Intel Core i7-8750H processor ticking at (6-Core, 9MB Cache, up to 4.1GHz w/ Turbo Boost) clock rate, 8GB DDR4 2666MHz Memory and 1TB 5400RPM SATA HDD hard drive and 128GB SSD Solid State drive internal storage. Dell G3 Gaming Laptop also has  DTS Sound,Integrated stereo speakers, Dell True Vision web cam, Microphone, Standard full-size, spill-resistant keyboard with numeric keypad Optional backlit full-size, spill-resistant keyboard with numeric keypad (blue only in some regions).The Laptop has 17.3 inch screen size, Height 0.98 (25 mm) x Width 16.35 (415.4 mm) x Depth 10.99 (279.2 mm) Physical Dimension and 7.20 lbs (3.27 kg) weight and 4-Cell 56 Whr Battery.</td>
        <td>110000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>G7 17 7700</td>
        <td>Dell G7 17 7700 (2020) Gaming Laptop comes with 10th Generation, Intel Core i7-10750H Processor, 16GB DDR4 2933MHz Memory and 1TB M.2 PCIe NVMe SSD Solid state drive internal storage. The Laptop has 17.3 inch screen size, Height (front): 0.76 (19.30 mm)x Height (rear): 0.81 (20.70 mm) x Height (peak): 0.90  (22.90 mm) x Width: 15.68  (398.20 mm) x Depth: 11.42 (290 mm) Physical Dimension and 6.28 lb (2.85 kg) x Weight (maximum): 7.25 lb (3.29 kg) weight and 6-Cell, 97WHr Li-Polymer battery.</td>
        <td>187000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>G7 15 7500 </td>
        <td>Dell G7 15 7500 Gaming Laptop comes with 10th Gen, Core i7-10750H Processor, 32GB DDR4 2933MHz Memory and 1TB M.2 PCIe NVMe SSD Solid state drive internal storage. The Laptop has 15.6 inch screen size, Height (Front): 0.72 (18.33 mm) x Height (Rear): 0.74(18.80 mm) x Height (Peak): 0.80 (20.05 mm) x Width: 14.06 (357.20 mm) x Depth: 10.54 (267.70 mm) Physical Dimension and 4.98 lb (2.26 kg) weight and 6-Cell 86 WHr Li-Polymer battery.</td>
        <td>165000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>G5 15 SE 2020 Gaming Laptop Ryzen 7</td>
        <td>Dell G5 15 SE 2020 5505-A753SLV Gaming Laptop with 4000-series AMD Ryzen 7 4800H, AMD Radeon RX 5600M, 8GB DDR4 RAM, 512GB SSD, 15.6-inch Full-HD (1920 x 1080 pixels) display with 144Hz refresh rate, BT WIN10 Webcam, SILVER Backlit Keyboard.</td>
        <td>158000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>G3 G3590 i7 9th Gen</td>
        <td>Dell G3 G3590 i7 9th gen Intel Core i7-9750H, NVIDIA GTX 1660Ti graphics card with 6GB of VRAM, 16GB RAM, 256GB SSD,1TB HDD, 15.6-inch Full-HD display</td>
        <td>156000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

