
@{
    ViewData["Title"] = "threethoudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Dell_Logo.svg/480px-Dell_Logo.svg.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Dell Inspiron 3000</h2>
    <p class="des">The Inspiron (/ˈɪnspɪrɒn/ IN-spirr-on, formerly stylized as inspiron) is a line of consumer-oriented laptops and desktop computers manufactured and sold by Dell. It is a range of affordable laptop computers, desktop computers and all-in-one computers Dell's Inspiron portable systems product line started as a range of computers targeted at the entry-level consumer market (as opposed to the Latitude range of laptops aimed at the business market). As of June 26, 2007 the Inspiron name also refers to a range of Dell's entry-level desktop systems which replaced the Dimension line of Desktops.</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>Inspiron 15 3000 (2021)</td>
        <td>Dell Inspiron 15 3501 Laptop comes with 11th Gen, Intel Core i3-1115G4 Processor, 8GB DDR4, 2666Mhz Memory and 128GB M.2 PCIe NVMe SSD Solid State Drive internal storage. The Laptop has 15.6 inch screen size, Height: 0.71 – 0.78 (18.0mm – 19.9mm) Width: 14.33 (363.96mm) Depth: 9.80 (249.0mm) Physical Dimension and 3.93 lbs (1.78 kg)) Weight and 3-Cell, 42 WHr, Integrated battery.</td>
        <td>46000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Vostro 3401 i3 10th Gen</td>
        <td>Dell Vostro 3401 10th Generation Intel Core i3-1005G1 Processor, 4GB DDR4 RAM, 1TB HDD Storage, 14-inch HD display, 36-WattHour battery, 1.64KG Weight, Dual speakers with tuned with Waves MaxxAudio, BT Webcam BLACK</td>
        <td>59000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>G3 G3590 i5 9th Gen</td>
        <td>Dell G3 G3590 i5 9th gen Intel Core i5-93000H, NVIDIA GTX 1650 graphics card with 4GB of VRAM, 8GB RAM, 512GB SSD, 15.6-inch Full-HD display</td>
        <td>108000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Inspirion 3501 i5 11th Gen</td>
        <td>Dell Inspirion 3501 with 11th Generation Intel Core i5-1135G7 Processor, 8GB DDR4 RAM (Expandable up to 16GB), 256GB SSD Storage (Additional HDD slot available for storage expansion), 15.6-inch IPS display with Full-HD (1920 x 1080 pixels) resolution, 42-WattHour battery, Nvidia MX330 2GB Graphic, 1.84KG Weight, 0.71-inch thickness, Dual speakers tuned with Waves MaxxAudio, Comes with 1-year warranty,</td>
        <td>94000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>

</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

