
@{
    ViewData["Title"] = "xpdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Dell_Logo.svg/480px-Dell_Logo.svg.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Dell XPS</h2>
    <p class="des">Dell XPS ("eXtreme Performance System") is a line of consumer-oriented high-end laptop and desktop computers manufactured by Dell. They are a line of high performance computers manufactured by Dell</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td> XPS 15 Core i9 11th Gen (2TB SSD)</td>
        <td> Dell XPS 15 9510 Laptop comes with 11th Generation, Core i9-11900H Processor, 32GB DDR4 3200MHz Memory and 2TB M.2 NVMe PCIe SSD Solid State drive internal storage. The Laptop has 15.6 inch screen size, Height: 0.71 (18.0 mm) Width: 13.57 (344.72 mm) Depth: 9.06 (230.14 mm) Physical Dimension and 3.99 lb (1.81 kg) Weight and 6-Cell 86WHr (Integrated) battery.</td>
        <td>296000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>XPS 17 Core i9 (RTX 3060) </td>
        <td>Dell XPS 17 9710 Laptop comes with 11th Generation, Core i9-11900H Processor, 16GB DDR4 3200MHz Memory and and 1TB M.2 NVMe PCIe SSD Solid State drive internal storage. The Laptop has 17.0 inch screen size, Height: 0.77 (19.05 mm) Width: 14.74 (374.45 mm) Depth: 9.76 (248.05 mm) Physical Dimension and 4.87 lb (2.21 kg) Weight and 6-Cell 97WHr (Integrated) battery.</td>
        <td>320000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>XPS 17 (UHD) </td>
        <td>Dell XPS 17 9710 Laptop comes with 11th Generation, Core i7-11800H Processor, 16GB DDR4 3200MHz Memory and and 512GB M.2 NVMe PCIe SSD Solid State drive internal storage. The Laptop has 17.0 inch screen size, Height: 0.77 (19.05 mm) Width: 14.74 (374.45 mm) Depth: 9.76 (248.05 mm) Physical Dimension and 4.87 lb (2.21 kg) Weight and 6-Cell 97WHr (Integrated) battery.</td>
        <td>264000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>XPS 13 7390 i5 10 GEN</td>
        <td>Dell XPS 13 7390 Core™ i5-10210U 256GB SSD 8GB 13.3" (1920x1080) BT WIN10 Webcam PLATINUM SILVER Backlit Keyboard. 1 Year Warranty, New Factory Sealed</td>
        <td>140000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>XPS 15 7590 i7 9TH GEN</td>
        <td>AsDell XPS 7590 Core™ i7-9750H 2.6GHz 256GB SSD 16GB 15.6" (1920x1080) BT WIN10 Webcam NVIDIA® GTX 1650 4096MB Backlit Keyboard SILVER</td>
        <td>195000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>XPS 13 7390 2-in-1 i7 10 Gen</td>
        <td>Dell XPS 7390-7923SLV CONVERTIBLE 2-IN-1 Core™ i7-1065G7 1.3GHz 512GB SSD 16GB 13.4" (1920x1200) TOUCHSCREEN BT WIN10 Webcam PLATINUM SILVER Backlit Keyboard FP Reader</td>
        <td>200000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

