<div class="terms">
    <h4>Contact Us</h4>
</div>
<div class="box">
    <p class="heading">FAQs </p>
    <div class="faqs">
        <details>
            <summary>Is there any delivery charges?</summary>
            <p class="text">Yes,delivery charge is Rs 100 inside valley and Rs 300 outside valley.</p>
        </details>
        <details>
            <summary>Is there Cash on Delivery System?</summary>
            <p class="text">Yeah you can directly pay.Only cash payments are accepted(no cheque)when paying through this method.</p>
        </details>
        <details>
            <summary>How long does it take to receive my order?</summary>
            <p class="text">It takes one day for inside valley and at most a week outside valley.</p>
        </details>

        <details>
            <summary>What is the return policy?</summary>
            <p class="text">
                To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.<br>
                To complete your return, we require a receipt or proof of purchase.
            </p>
        </details>
        <details>
            <summary>What do I do if I never received my order?</summary>
            <p class="text">Well,in that case you can contact at +977 982-5120305</p>
        </details>
        <details>
            <summary>What do I do if I received defective item?</summary>
            <p class="text">You can exchange it within 7 days.</p>
        </details>
        <details>
            <summary>Where are you located?</summary>
            <p class="text">We are situated in Chuchhepati,Kathmandu.</p>
        </details>
    </div>
</div>

<div class="Contact-us">
    <form onclick="submit">
        <input type="text" name="name" placeholder="Name" value="" required="required">
        <br> <br>
        <input type="number" name="num" placeholder="Phone number" autocapitalize="words" value="" required="required"> <br> <br>

        <input type="email" name="email" placeholder="Email" autocapitalize="words" value="" required="required"> <br> <br>
        <textarea name="message" rows="5" cols="20"> </textarea> <br>
        <input type="submit" value="Send message">
    </form>
</div>