
@{
    ViewData["Title"] = "flexdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://logodownload.org/wp-content/uploads/2014/09/lenovo-logo-1-1.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Lenovo Flex</h2>
    <p class="des">An IdeaPad Flex gives you different ways to get things done, anywhere. As a regular laptop to boost your productivity. ... With up to 11th Gen Intel® Core™ i7 or AMD Ryzen™ 7 processors and outstanding battery life, Flex laptops give you the power and confidence to achieve more, quickly and easily.Compared to it's other pairs a Lenevo Flex is comparatively more affordable</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td> Flex 5 10th Gen</td>
        <td>Lenovo Flex 5 14IIL Laptop with 10th Generation, Intel Core i5-1035G1 Processor, 8GB/16GB DDR4 3200Mhz Memory and 512GB NVMe M.2 SSD solid state drive internal storage. The Laptop has 14.0 inches screen size, (H x W x D) 328mm x 229mm x 17.9mm / 12.91 x 9.01 x 0.7 Physical Dimension and 3.3 lbs (1.5 kg) weight and 3 Cell 52.5Wh Lithium-ion battery.</td>
        <td>60000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Flex 14 AMD Ryzen</td>
        <td>Lenovo Flex (Part Number 81HA000DUS) Laptop comes with AMD Ryzen 7 2700U processor, 8GB DDR4 2400MHz Memory and 256 GB PCIe SSD Solid State drive internal storage. The Laptop has 14.0 Inch screen size, 12.9 x 9.01 x .69 / 328 x 229 x 17.6 (mm) (W x D x H) Physical Dimension and 3.68 lbs (1.67 kg) weight and 4-cell Li-polymer 45Wh battery.</td>
        <td>33000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Flex 5G</td>
        <td>Lenovo Flex 5G Convertible Laptop comes with Qualcomm Snapdragon 8cx Processor, 8GB LPDDR4X 1866MHz Memory and 256GB UFS 3.0 SSD Solid State drive internal storage. The Laptop has 14.0 inch screen size, 320mm x 215mm x 14.7mm (at its thinnest) / 12.71 x 8.54 x 0.58 Physical Dimension and 2.9 lbs (1.3 kg) Weight and 4-Cell Li-Polymer, 60Wh battery.</td>
        <td>143000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Flex 14 Core i7 8th Gen 16GB RAM</td>
        <td>Lenovo Flex Laptop comes with Windows 10 Home 64-bit Operating System, 8th Generation Intel Core i7-8550U processor ticking at (1.80GHz, up to 4.0GHz with Turbo Boost, 8MB Cache) clock rate, 16 GB DDR4 2400MHz Memory and 256GB SSD Solid State drive internal storage.Lenovo Flex Laptop also has  DTS Sound,Integrated stereo speakers, Lenovo True Vision web cam, Microphone. Backlit English Keyboard.The Laptop has 14.0 Inch screen size, 12.9 x 9.01 x .69 / 328 x 229 x 17.6 (mm) (W x D x H) Physical Dimension and 3.68 lbs (1.67 kg) weight and 4-cell Li-polymer 45Wh battery.</td>
        <td>121000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>lex 2 15 Core i5 4GB RAM 500GB HHD</td>
        <td>Lenovo Flex 2 15 Inch Core i5 4GB RAM 500GB HHD.</td>
        <td>66000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Flex 5 14 Core i5 8th Gen</td>
        <td>Lenovo Flex 5 2 in 1 Laptop comes with Intel Core i5-8250U 8th Generation Processor ticking at 1.6 Ghz clock rate, 8GB DDR4 RAM Memory and 128 GB PCIe SSD Solid state Drive internal storage. The Laptop has 14.0 inch screen size, 9.02 x 0.78 x 12.91 inches (L x W x H) Physical Dimension and 3.74 pounds weight and Lithium Polymer battery.</td>
        <td>66000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>

</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

