
@{
    ViewData["Title"] = "ideapaddes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://logodownload.org/wp-content/uploads/2014/09/lenovo-logo-1-1.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Lenovo Ideapad</h2>
    <p class="des">The Lenovo IdeaPad Flex is a 2-in-1-laptop line by Lenovo. Unlike the Lenovo IdeaPad Yoga line of devices, the keyboard does not bend back entirely to allow use as a tablet, it is only a dual-mode laptop. Its keyboard rotates behind the display in order to put the device into "stand mode." Stand mode brings the user closer to the screen for watching videos and using touch-enabled apps and removes the visual distraction from the keyboard.</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>Ideapad 3 AMD (2021)</td>
        <td>Lenovo IdeaPad 3 Laptop comes with AMD Ryzen 5-5500U Processor, 8 GB DDR4 (4 GB soldered, 4 GB removable) Memory and 256GB M.2 2242 NVMe SSD Solid State drive internal storage. The Laptop has 15.6 inch screen size, 362.2 x 253.4 x 19.99 mm Physical Dimension and 1.7 Kg Weight and Integrated Li-Polymer 42Wh battery.</td>
        <td>49000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>IdeaPad 5i Pro</td>
        <td>Lenovo IdeaPad 5i Pro NoteBook Laptop comes with 11th Generation, Intel Core i7-1165G7 Processor, 16GB DDR4 Memory and 512GB M.2 SSD Solid State Drive internal storage. The Laptop has 14.0 inch screen size, 312.21 x 221 x 15.95~17.9 mm Physical Dimension and 1.45 Kg weight and 3 Cell 56.5WHr internal battery.</td>
        <td>121000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>IdeaPad Slim 7 14 (2020)</td>
        <td>Lenovo IdeaPad Slim 7 Ultrabook Laptop comes with 10th Generation, Intel Core i7-1065G7 Processor, 8GB LPDDR4X 3200Mhz Memory and 256GB NVMe SSD (Removable) solid state Drive internal storage. The Laptop has 14 inch screen size, 320.6mm x 208mm x 14.9mm / 12.62 x 8.18 x 0.58 (H x W x D) Physical Dimension and 3.3 lbs (1.5 kg) Weight and Internal Battery.</td>
        <td>92000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>IdeaPad Slim 9i (11th Gen)</td>
        <td>Lenovo IdeaPad Slim 9i Ultrabook Laptop comes with 11th Generation, Intel Core i7-1165G7 Processor, 16GB LPDDR4x 4266MHz Memory and 512GB PCIe SSD Solid State drive internal storage. The Laptop has 14.0 inch screen size, (H x W x D) 200.9mm x 318mm x 13.9 – 14.6mm / 7.91 x 12.52 x .55 - 0.57 Physical Dimension and 2.65 lbs (1.2 kg) Weight and 4 Cell 63.5Wh Lithium-Ion battery.</td>
        <td>165000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>IdeaPad S340 14</td>
        <td>Lenovo Ideapad S340 Thin and Light Laptop comes with 10th Generation, Intel Core i5-1035G1 Processor, 8GB DDR4 3200MHz Memory and 512GB M.2 PCIe NVMe SSD Solid state drive internal storage. The Laptop has 14.0 inch screen size, 323.6mm x 228mm x 17.9mm (W x D x H) Physical Dimension and 1.6 Kg weight and 52.5 Lithium Polymer (Integrated) battery.</td>
        <td>92000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>deaPad S145 (14) i3 10th Gen</td>
        <td>Lenovo Ideapad S145 (14) with 10th Gen Intel Core i3-1005G1, 4GB RAM, 1TB HDD, 14-inch HD display, Up to 6 hours of battery life, Dual Speakers with Dolby Audio Speaker System, BT Webcam BLACK</td>
        <td>59000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>IdeaPad Duet 3i Celeron</td>
        <td>HBrand new Lenovo IdeaPad Duet 3i with Celeron processor, 4GB DDR4 RAM, 64GB eMMC 5.1 storage,  10.3-inch Full-HD (1920 x 1080 pixels) TouchScreen display with 100% sRGB color coverage & 300 nits brightness, Stereo speakers, Front camera 2.0MP + Rear camera 5.0MP, 0.4-inch thickness, 980 grams weight</td>
        <td>60000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Ideapad 3 2020 i5 10th Gen</td>
        <td>Lenovo IdeaPad 3 2020 14IIL05 with 10th Gen Intel Core i5-1035G1 processor, 8GB DDR4 RAM, 512GB M.2 2242 PCIe 3.0x4 SSD, Has HDD slot for storage expansion, 14-inch IPS display with Full-HD (1920 x 1080 pixels) resolution, 250 nits brightness, 2W x2 Stereo speakers for punchy audio, 720p (HD) WebCam with Privacy Shutter, Integrated 44Watt-Hour Battery, 1.6Kg Weight, 0.78-inch thickness, BT WIN10 Webcam PLATINUM</td>
        <td>80000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Ideapad 5 2020 i5 10th Gen</td>
        <td>Brand new Lenovo Ideapad 5 14IIL05 with 10th Gen Intel Core i5-1035G1 processor, 8GB DDR4 RAM, 256GB M.2 PCIe 3.0x4 NVMe SSD,  14-inch IPS Display with Full-HD (1920 x 1080 pixels) resolution, 250 nits brightness, HD(720p) WebCam with Privacy Shutter, 44WH battery, slim and light ultrabook with 0.67-inch thickness and 1.38KG Weight, BT WIN10 Webcam GRAPHITE GRAY </td>
        <td>85000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>

</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>


