
@{
    ViewData["Title"] = "thinkbookdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://logodownload.org/wp-content/uploads/2014/09/lenovo-logo-1-1.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Lenovo Thinkbook</h2>
    <p class="des">hinkBook is a line of business-oriented laptop computers and tablets designed, developed and marketed by Lenovo.The ThinkBook line is marketed towards small business users and get the same market position as a Lenovo's ThinkPad E series. The ThinkBook does not have a TrackPoint, physical touchpad buttons, and has a simplified keyboard layout. However, the ThinkBook has an aluminum case (instead of a plastic Thinkpad E case).</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>ThinkBook 13X (2021)</td>
        <td>Lenovo ThinkBook 13X Laptop Comes with 11th Generation, Intel Core i7-1165G7 Processor, 16GB LPDDR4X 4266MHz Memory and 512GB PCIe SSD Solid State Drive internal storage. The Laptop has 13.3 inch screen size, 11.73 x 8.22 x 0.50 inches (298mm x 209mm x 12.9mm) Physical Dimension and 1.13 Kg weight and 4 Cell 53Wh Li-Polymer Battery.</td>
        <td>132000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ThinkBook 15 Gen 2 AMD (2020)</td>
        <td>Lenovo ThinkBook 15 Gen-2 Laptop Comes with AMD Ryzen 5-4500U Processor, 16GB DDR4 3200MHz Memory and 512GB PCIe SSD Solid State Drive internal storage. The Laptop has 15.6 inch screen size, (H x W x D) 18.9mm x 357mm x 235mm / 0.74 x 14.05 x 9.25 Physical Dimension and 1.7 kg (3.75 lbs) weight and 3 Cell 45Wh internal battery.</td>
        <td>82000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>hinkbook 14 Gen 2 (2020)</td>
        <td>Lenovo ThinkBook 14 Gen 2 Laptop comes with AMD Ryzen 7-4700U Processor, 16GB DDR4 3200MHz Memory and 512GB PCIe SSDD Solid State drive internal storage. The Laptop has 14.0 inch screen size, (H x W x D) 17.9mm x 323mm x 218mm / 0.7 x 12.71 x 8.58 Physical Dimension and 3.09 lbs (1.4 kg) Weight and 3 Cell 45Wh Internal battery</td>
        <td>82000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ThinkBook 13X</td>
        <td>Lenovo ThinkBook 13X Laptop Comes with 11th Generation, Intel Core i5-1135G7 Processor, 16GB LPDDR4X 4266MHz Memory and 512GB PCIe SSD Solid State Drive internal storage. The Laptop has 13.3 inch screen size, 11.73 x 8.22 x 0.50 inches (298mm x 209mm x 12.9mm) Physical Dimension and 1.13 Kg weight and 4 Cell 53Wh Li-Polymer Battery.</td>
        <td>115000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>

</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

