
@{
    ViewData["Title"] = "vseriesdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://logodownload.org/wp-content/uploads/2014/09/lenovo-logo-1-1.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Lenovo Vseries</h2>
    <p class="des">In addition to the ThinkPad and IdeaPad laptops, Lenovo also offers a value-priced series of laptops. Called ‘Essential’ on the Lenovo web site, the products available in this line include the G Series, B Series, and V Series. Launched in 2009, the first laptop in the Essential range was the G530. The Lenovo V Series laptops are budget-friendly laptops designed primarily for small business users.</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>V14-IIL 8C24</td>
        <td>14″ HD display, Core i5-1035G1 Processor, Intel UHD GPU, 4GB DDR3 RAM, 1TB HDD LDDR3 Harddisk</td>
        <td>82000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>


</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

