
@{


    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="terms">

    <h4> About Us </h4>
    <p class="pt-2">Lapstore is one of the growing market place for Laptops where you can easily find thousands of varities of laptop.We believe in quality and customers satisfaction.

    <p>
        Make a smart decision by shopping online and get things delivered to you. It is a hassle-free shopping experience from the comfort of your home or at work or anywhere else. Customers can easily access our ecommerce website on web browsers like Mozilla Firefox, Google Chrome, Safari, Opera Mini, and more. Or you can easily download our Mobile App from the Apple App Store or Google Play Store.

        On Lapstore.com, you can shop online for your basic daily necessities to other necessities you might need. Browse through thousands of products from our array of online categories. To date, we are proud to have served thousands of satisfied customers who have remained loyal to our cause. Through our online shopping platform, we are grateful to have served customers from all over the world.

    </p>

</div>
<div class="location pl-4">

    <h5> Our Location </h5>

    <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.208249164641!2d85.61296341501543!3d27.710855782790436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eba832dbf83593%3A0xc1fc09a628bb1bc7!2sMandan%20Deupur%20Municipality!5e0!3m2!1sen!2snp!4v1625162659953!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </p>
</div>
