
@{
    ViewData["Title"] = "vivobookdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvtjF_8DfJteZvnKB2oXdDU9U8k2NqqWfriDufOy-9FxujiQrDDGd4imc-I8QSD_OSdUA&usqp=CAU" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Asus Vivobook </h2>
    <p class="des">VivoBook is the name for a large group of Asus laptops. From an 11-inch laptop you can take to school to take notes, to a powerhouse to edit videos; there's a suitable VivoBook for every user. In addition, there's the VivoBook Flip, a 2-in-1 that combines the advantages of a tablet and a laptop. For the demanding user, the VivoBook Pro and VivoBook S are also options. These laptops have a dedicated video card, so you can also play lighter games with it. </p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>VivoBook Flip 14 TP401MA</td>
        <td> Asus VivoBook Flip 14 TP401MA 8th Gen Celeron N4020 processor, Integrated Intel UHD Graphics, 4GB RAM, 128GB SSD storage, 14-inch 360-degree TouchScreen display with Stylus support, 1.5KG weight and 0.61-inch thin, Windows Genuine</td>
        <td>57000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>VivoBook 15 M513IA</td>
        <td> Asus VivoBook 15 M513IA with AMD Ryzen 5 4500U Processor, Hexa-core (6-core) CPU, AMD Radeon Graphics, 8GB DDR4 RAM (Expandable up to 16GB), 256GB M.2 NVMe PCIe 3.0 SSD Storage, 15.6-inch IPS display with Full-HD (1920 x 1080 pixels) resolution, Backlit keyboard, 1.8KG Weight, 0.73-inch thickness, Comes with 2 Years Warranty</td>
        <td>87000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>VIVOBOOK X509JP</td>
        <td>ASUS VIVOBOOK X509JP Core™ i5 1035G1 4GB RAM, 1TB HDD, NVIDIA MX330 2GB, 15.6" FHD, BACKLIGHT KEYBOARD, WINDOWS GENUINE, 2 YEAR WARRANTY.</td>
        <td>87000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>VIVOBOOK X515EA</td>
        <td>Asus VivoBook Core™i5-1135G7, 8GB RAM. 256GB SSD, 15.6" FHD Screen, Full Metal Body, Backlight keyboard, 2 Year Warranty</td>
        <td>90000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>VivoBook Flip TM420IA</td>
        <td>Asus VivoBook Flip TM420IA 2-in-1 convertible RYZEN 5 4500U, 8GB RAM, 512GB SSD, 14" Full-HD 360-degree Touch display, Stylus support, Long battery life, Backlight Keyboard.</td>
        <td>108000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>VIVOBOOK X415JA</td>
        <td>ASUS VIVOBOOK X415JA i7 10TH GEN/ 8GB RAM/ 512GB SSD / BACKLIGHT KEYBOARD 14" FHD</td>
        <td>115000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>


