
@{
    ViewData["Title"] = "zenbookdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvtjF_8DfJteZvnKB2oXdDU9U8k2NqqWfriDufOy-9FxujiQrDDGd4imc-I8QSD_OSdUA&usqp=CAU" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Asus Zenbooks</h2>
    <p class="des">With its sturdy housing and low weight, the Asus ZenBook is a laptop that's very suitable to have with you all day. Put it in your bag and you won't feel like you're carrying bricks around. If you accidentally hit something with your ZenBook, it's not broken right away. There are Asus Zenbook models ranging from 13-inch to 15-inch. The ZenBook is considered to be an entry model. The ZenBook S, and Zenbook Pro are luxury devices with powerful components. Do you prefer a 2-in-1, meaning a laptop and tablet in 1? The ZenBook Flip will fit your needs.</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>ZenBook S 11th Gen</td>
        <td> ASUS ZenBook S UX393EA Notebook Laptop Comes with 11th Generation, Intel Core i7-1165G7 Processor, 16GB LPDDR4X 4266Mhz Memory and 1TB PCIe NVMe 3.0 x4 M.2 SSD solid state drive internal storage. The Laptop has 13.9 inch screen size, Height: 1.57 cm (0.62 inches) x Width: 30.6 cm (12.05 inches) x Depth: 22.4 cm (8.82 inches) Physical Dimension and 1.35 kg (2.97 pounds) weight and 67 Wh 4-cell Lithium-polymer battery.</td>
        <td>176000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZenBook 14 Ultralight (UX435EA)</td>
        <td> ASUS ZenBook 14 Ultralight (UX435EAL) Laptop Comes with 11th Generation, Intel Core i7-1165G7 Processor, 8GB / 16GB 4266 MHz LPDDR4x Memory and 256 GB / 512 GB / 1 TB PCIe NVMe 3.0 x2 M.2 SSD2 solid state drive internal storage. The Laptop has 14.0 inch screen size, Height4: 1.59~1.79 cm (0.62~0.70 inches) x Width: 31.9 cm (12.55 inches) x Depth: 19.9 cm (7.83 inches) Physical Dimension and 1.19~1.29 kg (2.62~2.84 pounds) weight and 63 Wh 3-cell Lithium-polymer battery.</td>
        <td>143000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZenBook Duo (11th Gen)</td>
        <td>ASUS ZenBook Duo (UX482) Dual Screen Laptop comes with 11th Generation, Intel Core i7-1165G7 Processor, 32GB LPDDR4x Memory and 1TB M.2 NVMe PCIe 3.0 SSD Solid State Drive internal storage. The Laptop has 14.0 inch screen size, (W x D x H) 32.40 x 22.20 x 1.69 ~ 1.73 cm (12.76 x 8.74 x 0.67 ~ 0.68) Physical Dimension and 1.57 kg (3.46 lbs) weight and 70WHrs, 4S1P, 4-cell Li-ion battery.</td>
        <td>185000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZenBook Duo 14 (11th Gen)</td>
        <td>ASUS ZenBook Duo (UX482) Dual Screen Laptop comes with 11th Generation, Intel Core i7-1165G7 Processor, 8GB LPDDR4x Memory and 512GB M.2 NVMe PCIe 3.0 SSD Solid State Drive internal storage. The Laptop has 14.0 inch screen size, (W x D x H) 32.40 x 22.20 x 1.69 ~ 1.73 cm (12.76 x 8.74 x 0.67 ~ 0.68) Physical Dimension and 1.57 kg (3.46 lbs) weight and 70WHrs, 4S1P, 4-cell Li-ion battery.</td>
        <td>140000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZenBook 13 UX325JA I7 </td>
        <td>Asus ZenBook 13 UX325JA 10th Gen Intel Core i7-1065G7, 16GB RAM, 512GB SSD, Magic NumPad, 13.3-inch Full-HD display, Super Thin (0.54-inch) and Super Light (1.07Kg) ultrabook with a remarkable 22 hours of battery life</td>
        <td>148000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZenBook Flip 13 UX363EA i7</td>
        <td>Brand new factory-sealed Asus ZenBook Flip 13 UX363EA (Asus ZenBook Flip 13 2021) with 11th Gen Intel Core i7-1165G7, 16GB LPDDR4X RAM, 512GB PCIe Gen 3 SSD Storage, 13.3-inch OLED display with Full-HD (1920 x 1080 pixels) resolution, Pantone validated 100% DCI-P3 Color gamut, 400 nits brightness, 360-degree Touchscreen display with Stylus Support, a feature-packed 2-in-1 convertible with Magic NumPad, 0.55-inch thickness and 1.3Kg weight, sizable 67Whr battery,</td>
        <td>175000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZenBook 14 (UX435)</td>
        <td> ASUS ZenBook 14 UX435EAL Ultrabook Laptop Comes with 11th Generation, Intel Core i7-1165G7 Processor, 8GB / 16GB 4266 MHz LPDDR4x Memory and 256 GB / 512 GB / 1 TB PCIe NVMe 3.0 x2 M.2 SSD2 solid state drive internal storage. The Laptop has 14.0 inch screen size, Height4: 1.59~1.79 cm (0.62~0.70 inches) x Width: 31.9 cm (12.55 inches) x Depth: 19.9 cm (7.83 inches) Physical Dimension and 1.19~1.29 kg (2.62~2.84 pounds) weight and 63 Wh 3-cell Lithium-polymer battery.</td>
        <td>142000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZenBook 14 UX435EA</td>
        <td> ASUS ZenBook 14 UX435EAL Ultrabook Laptop Comes with 11th Generation, Intel Core i5-1135G7 Processor, 8GB / 16GB 4266MHz LPDDR4x Memory and 256GB / 512GB / 1TB PCIe NVMe 3.0 x2 M.2 SSD2 solid state drive internal storage. The Laptop has 14.0 inch screen size, Height4: 1.59~1.79 cm (0.62~0.70 inches) x Width: 31.9 cm (12.55 inches) x Depth: 19.9 cm (7.83 inches) Physical Dimension and 1.19~1.29 kg (2.62~2.84 pounds) weight and 63 Wh 3-cell Lithium-polymer battery.</td>
        <td>143000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Aspire 5 (2020)</td>
        <td>10th Gen Intel Core i3-1005G1 processor, 4GB DDR4 RAM (Expandable), 1TB HDD Storage (SSD Slot available for storage expansion), 15.6-inch IPS LCD display with Full-HD (1920 x 1080 pixels) resolution, 1.8KG Weight, 3-cell 3220mAH battery, 3x USB Ports (2x USB 3.1 Gens 1 ports + 1x USB 2.0 port), Comes with 1-year warranty</td>
        <td>60000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZenBook 14 UX425EA I5</td>
        <td>Brand new factory-sealed Asus ZenBook 14 UX425EA (Asus ZenBook 14 2021) with 11th Gen i5-1135G7 processor (Quad-core CPU), Intel Iris Xe Graphics, 8GB LPDDR4 (4266MHz clock speed), 512GB SSD storage, 14-inch IPS display with Full-HD (1920 x 1080 pixels) resolution, 400 nits brightness, solid audio ensured by Asus SonicMaster stereo audio system with surround-sound, 3D IR HD Camera for video calling and Face Unlock, Magic NumPad, 0.54-inch thickness, 1.13KG Weight</td>
        <td>127000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZenBook UX463FA i5</td>
        <td>Asus ZenBook UX463FA 10th Gen Intel Core i5-10210U, 8GB RAM, 512GB SSD, Magic NumPad, Stylus, 14-inch Full-HD 360-degree TouchScreen display, Backlight Keyboard,</td>
        <td>134000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>

</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

