
@{
    ViewData["Title"] = "zephyrusdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvtjF_8DfJteZvnKB2oXdDU9U8k2NqqWfriDufOy-9FxujiQrDDGd4imc-I8QSD_OSdUA&usqp=CAU" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">Asus Zephyrus </h2>
    <p class="des"></p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>Zephyrus G14 GA401IU</td>
        <td>Asus Zephyrus G14 GA401 Gaming Laptop Ryzen 7 4800HS, 16GB RAM, 512GB SSD, GTX 1660ti, 14" 120Hz FHD Display, Anime Matrix, thin (0.7") and light (1.6Kg) portable gaming laptop</td>
        <td>200000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Zephyrus G14 GA401IV</td>
        <td> Brand new factory-sealed Asus Zephyrus G14 GA401IV Gaming Laptop with 4000-series AMD Ryzen 9 4900HS processor, 16GB DDR4 RAM, 1TB M.2 NVMe PCIe 3.0 SSD Storage, NVIDIA GeForce RTX 2060 graphics card with 6GB of GDDR6 VRAM, 14-inch Full-HD (1920 x 1080 pixels) Display with 120Hz refresh rate with Adaptic Sync, 100% sRGB Pantone Validated Color Accuracy, Anime Matrix, thin (0.7") and light (1.6Kg) portable gaming laptop,</td>
        <td>220000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ROG Zephyrus Duo 15 SE GX551QM AMD</td>
        <td>Brand new Asus ROG Zephyrus Duo 15 GX551 (GX551QM) gaming laptop with powerful AMD Ryzen 7 5800H processor (Octa-core processor), NVIDIA GeForce RTX 3060 graphics card with 6GB of GDDR6 VRAM (Supports Ray-tracing and DLSS), 16GB of DDR4 RAM (Expandable up to 32GB), 1TB M.2 NVMe PCIe 3.0 SSD Storage, 15.6-inch with 4K Ultra-HD (3840 x 2160 pixels) resolution, 100% Adobe RGB, 132.7 sRGB Color Gamut (Pantone Validated), 120Hz refresh rate, 3ms response time, 14" 4K Ultra-HD (3840 x 1100 pixels) Touch ScreenPad Plus, Per-Key, RGB Backlit keyboard, Harman speakers with Dolby Audio, 90Wh battery</td>
        <td>372000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ROG Zephyrus Duo 15 SE GX551 AMD</td>
        <td>Brand new Asus ROG Zephyrus Duo 15 SE GX551 gaming laptop with powerful AMD Ryzen 9 5900HX processor (Octa-core processor), NVIDIA GeForce RTX 3080 graphics card with 16GB of GDDR6 VRAM, 32GB of DDR4 RAM (Expandable up to 48GB), 1TB M.2 NVMe PCIe 3.0 SSD Storage, 15.6-inch Touch Display with 4K Ultra-HD (3840 x 2160 pixels) resolution, 100% Adobe RGB Color Gamut (Pantone Validated), 120Hz refresh rate, 3ms response time, 14" 4K Ultra-HD Touch ScreenPad Plus, Stylus Support, Per-Key, RGB Backlit keyboard, Harman speakers with Dolby Audio</td>
        <td>494000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>

</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

