
@{
    ViewData["Title"] = "chromebookdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://www.nicepng.com/png/detail/74-748608_hp-logo-png-hd.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">HP Chromebook</h2>
    <p class="des">A Chromebook (styled as chromebook) is a laptop or tablet running the Linux-based Chrome OS as its operating system. Chromebooks are primarily used to perform a variety of tasks using the Google Chrome browser, with most applications and data residing in the cloud rather than on the machine itself.[1][2][3] All Chromebooks released since late 2017 can also run Android apps. Some Chromebooks can also run Linux apps. </p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>Chromebook x360 (11th Gen)</td>
        <td>HP Chromebook x360 14 Laptop comes with 11th Generation, Intel Core i3-1125G4 Processor, 8GB DDR4 3200MHz Memory and 256GB PCIe NVMe M.2 SSD Solid State drive internal storage. The Laptop has 14 inch screen size, (W x D x H) 12.74 x 8.7 x 0.65 in Physical Dimension and 3.67 pounds Weight and 3-cell, 58-WHr Lithium-ion Battery.</td>
        <td>71000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Elite c1030 Chromebook (2020)</td>
        <td>HP Elite c1030 Chromebook Convertible Laptop Comes with Chrome OS Operating System, 10th Generation, Intel Core i5-10310U Processor ticking at (1.6 GHz base frequency, up to 4.4 GHz with Intel Turbo Boost Technology, 6 MB L3 cache, 4 cores) clock Rate, 8GB DDR4 2666Mhz Memory and Up to 128GB PCIe NVMe SSD Solid State drive internal storage. HP Elite c1030 Chromebook Convertible Laptop also has Audio by Bang & Olufsen, dual stereo speakers, HP True Vision web cam, Microphone, Full-size Textured island-style Chrome keyboard, Flint Silver, backlit, spill resistant.The Laptop has 13.5 inch screen size, (W x D x H), 11.6 x 8.5 x 0.6 in (with BrightView display), 11.6 x 8.5 x 0.7 in (with anti-glare display) Physical Dimension and 2.87 lb (1.33 kg) weight and Non-Removable, 4-cell, 50 Whr Lithium-Ion Polymer Battery.</td>
        <td>110000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Pro C640 (Touch)</td>
        <td>HP Pro C640 Chromebook Laptop Comes with Intel Pentium Gold 6405U Processor, 8GB DDR4 2666Mhz Memory and 32GB eMMC SSD solid state drive internal storage. The Laptop has 14.0 inch screen size, 12.8 x 8.07 x 0.65 inches (W x D x H) Physical Dimension and 3.35 lbs weight and 3-cell, 60 Wh Li-ion battery.</td>
        <td>52000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Chromebook x360 14 (2021)</td>
        <td>HP Chromebook x360 14 Convertible Laptop comes with Intel Pentium Gold 6405 Processor, 4GB DDR4 2666MHz Memory and 64GB eMMC SSD Solid State drive internal storage. The Laptop has 14 inch screen size, (W x D x H) 12.82 x 8.60 x 0.70 in Physical Dimension and 3.64 lbs Weight and 3-cell, 60.9 Wh Li-ion Battery.</td>
        <td>48000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>

</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

