
@{
    ViewData["Title"] = "elitebookdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://www.nicepng.com/png/detail/74-748608_hp-logo-png-hd.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">HP elitebook</h2>
    <p class="des">HP EliteBook is a line of business-oriented high-end notebooks and mobile workstations made by Hewlett-Packard (HP Inc.). The EliteBook series, which fits above the lower-end ProBook series, was introduced in August 2008 as a replacement of the HP Compaq high end line of notebooks. The EliteBook brand included mobile workstations until September 2013, when they were rebranded as HP ZBook. </p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>EliteBook 835 G8 AMD (2021)</td>
        <td>HP EliteBook 835 G8 Notebook Laptop comes with AMD Ryzen 7 Pro 5850U Processor, 8GB DDR4 3200Mhz Memory and 128GB PCIe TLC SSD solid state drive internal storage. The Laptop has 13.3 inch screen size, (W x D x H) 12.11 x 8.05 x 0.7 in Physical Dimension and 2.8 lbs weight and 3 Cell 53 WHr Long Life Battery.</td>
        <td>122000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>EliteBook 845 G8 AMD (2021)</td>
        <td>HP EliteBook 845 G8 Notebook Laptop comes with AMD Ryzen 7 Pro 5850U Processor, 8GB DDR4 3200Mhz Memory and 128GB PCIe TLC SSD solid state drive internal storage. The Laptop has 14 inch screen size, (W x D x H) 12.73 x 8.44 x 0.7 in Physical Dimension and 3.02 lbs weight and 3 Cell 53 WHr Long Life Battery.</td>
        <td>220000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>EliteBook 855 G8 AMD (2021)</td>
        <td>HP EliteBook 855 G8 Notebook Laptop comes with AMD Ryzen 7 Pro 5850U Processor, 8GB DDR4 3200Mhz Memory and 128GB PCIe TLC SSD solid state drive internal storage. The Laptop has 15.6 inch screen size, (W x D x H) 14.15 x 9.2 x 0.75 in Physical Dimension and 3.75 lbs weight and 3 Cell 56 WHr Long Life Battery.</td>
        <td>230000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>EliteBook 840 Aero G8 Notebook</td>
        <td>HP EliteBook 840 Aero G8 Notebook Laptop comes with 11th Generation, Intel Core i7-1185G7 with vPro Processor, 8GB DDR4 3200Mhz Memory and 256GB PCIe NVMe Self Encrypted (SED) OPAL2 TLC SSD Solid State drive internal storage. The Laptop has 14 inch screen size, (W x D x H) 12.71 x 8.46 x 0.7 in Physical Dimension and 2.5 lbs Weight and 3 Cell 53 WHr Long Life Battery.</td>
        <td>214000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>EliteBook 840 Aero G8 (2021)</td>
        <td>HP EliteBook 840 Aero G8 Notebook Laptop comes with 11th Generation, Intel Core i5-1145G7 with vPro Processor, 8GB DDR4 3200 Mhz Memory and 256GB PCIe NVMe Self Encrypted (SED) OPAL2 TLC SSD Solid State drive internal storage. The Laptop has 14 inch screen size, (W x D x H) 12.71 x 8.46 x 0.7 in Physical Dimension and 2.5 lbs Weight and 3 Cell 53 WHr Long Life Battery </td>
        <td>187000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>EliteBook x360 1030 G8 Notebook</td>
        <td>HP EliteBook x360 1030 G8 Convertible Laptop comes with 11th Generation, Intel Core i7-1185G7 Processor, 16GB LPDDR4x 4266MHz Memory and 256GB PCIe NVMe SSD Solid State drive internal storage. The Laptop has 13.3 inch screen size, (W x D x H) 11.96 x 7.63 x 0.63 in Physical Dimension and 2.68 lbs Weight and 4-cell, 54-WHr Long Life Battery</td>
        <td>242000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>EliteBook x360 1030 G8 Core i7 11th Gen</td>
        <td>HP EliteBook x360 1030 G8 Convertible Laptop comes with 11th Generation, Intel Core i7-1165G7 Processor, 16GB LPDDR4x 4266MHz Memory and 128GB PCIe NVMe TLC SSD Solid State drive internal storage. The Laptop has 13.3 inch screen size, (W x D x H) 11.96 x 7.63 x 0.63 in Physical Dimension and 2.68 lbs Weight and 4-cell, 54-WHr Long Life Battery.</td>
        <td>225000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>EliteBook x360 1030 G8 (13)</td>
        <td>HP EliteBook x360 1030 G8 Convertible Laptop comes with 11th Generation, Intel Core i5-1145G7 Processor, 8GB LPDDR4x 4266MHz Memory and 256GB PCIe NVMe SSD Solid State drive internal storage. The Laptop has 13.3 inch screen size, (W x D x H) 11.96 x 7.63 x 0.63 in Physical Dimension and 2.68 lbs Weight and 4-cell, 54-WHr Long Life Battery.</td>
        <td>220000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>EliteBook x360 1040 G8 Laptop (2021)</td>
        <td>HP EliteBook x360 1040 G8 Convertible Laptop comes with 11th Generation, Intel Core i7-1185G7 Processor, 32GB LPDDR4x 4266MHz Memory and 256GB PCIe NVMe SSD Solid State drive internal storage. The Laptop has 14 inch screen size, (W x D x H) 12.57 x 7.98 x 0.65 inches Physical Dimension and 2.9 lbs Weight and 4-cell, 54-WHr Long Life Battery.</td>
        <td>275000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

