
@{
    ViewData["Title"] = "enyvdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://www.nicepng.com/png/detail/74-748608_hp-logo-png-hd.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">HP envy</h2>
    <p class="des">The HP Envy (stylized as HP ENVY) is a line of consumer-oriented high-end laptops, desktop computers and printers manufactured and sold by HP Inc. They started as a high-end version of the HP Pavilion line.</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>Envy 17 Core i5 11th Gen (1TB SSD)</td>
        <td> HP ENVY 17 NoteBook Laptop comes with 11th Generation, Intel Core i5-1135G7 Processor, 8GB DDR4 3200Mhz Memory and 1TB PCIe NVMe M.2 SSD solid state drive internal storage. The Laptop has 17.3 inches screen size, (W x D x H) 15.71 x 10.2 x 0.76 inches Physical Dimension and 6.02 lbs weight and 3-cell, 52 Wh Li-ion battery.</td>
        <td>112000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Envy 17 (Core i5)  </td>
        <td>HP ENVY 17 NoteBook Laptop comes with 11th Generation, Intel Core i5-1135G7 Processor, 32GB DDR4 3200Mhz Memory and 128GB SSD solid state drive and 1TB 7200 rpm SATA hard drive internal storage. The Laptop has 17.3 inches screen size, (W x D x H) 15.71 x 10.2 x 0.76 inches Physical Dimension and 6.02 lbs weight and 3-cell, 52 Wh Li-ion battery</td>
        <td>117000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ENVY x360 Convertible Laptop </td>
        <td>HP ENVY x360 Convertible Laptop Comes with AMD Ryzen 5-5500U Processor, 12GB DDR4 3200Mhz Memory and 256GB PCIe NVMe M.2 SSD memory solid state drive internal storage. The Laptop has 15.6 inch screen size, (W X D X H) 14.09 x 9.06 x 0.74 inches Physical Dimension and 4.42 lbs weight and 3-cell, 51 Wh Li-ion polymer battery.</td>
        <td>81000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ENVY x360 AMD (2021)</td>
        <td>HP ENVY x360 Convertible Laptop Comes with AMD Ryzen 5-5500U Processor, 8GB DDR4 3200Mhz Memory and 256GB PCIe NVMe M.2 SSD memory solid state drive internal storage. The Laptop has 15.6 inch screen size, (W X D X H) 14.09 x 9.06 x 0.74 inches Physical Dimension and 4.42 lbs weight and 3-cell, 51 Wh Li-ion polymer battery.</td>
        <td>77000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Envy 13 Core i7 11th Gen (4K)</td>
        <td>HP Envy 13 Notebook Laptop comes with 11th Generation, Intel Core i7-1165G7 Processor, 8GB DDR4 2933MHz Memory and 256GB PCIe NVMe M.2 SSD Solid State drive internal storage. The Laptop has 13.3 inch screen size, 12.05 in (W) x 8.35 in (D) x 0.58 in (H) or 30.61cm (W) x 21.21cm (D) x 1.47cm (H) Physical Dimension and 2.88 lbs (1.31 kg) Weight and 4-Cell, 51 Wh Lithium-Ion Polymer (Li-Po) battery. </td>
        <td>115000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Envy 13 2021 i5 11th Gen</td>
        <td>Brand new factory-sealed HP Envy 13 2021 13-ba1047wm laptop with the latest 11th Gen Intel Core i5-1135G7 processor, Intel Iris Xe Graphics, 8GB DDR4 RAM, 256GB SSD storage, 13.3-inch IPS display with Full-HD (1920 x 1080 pixels) resolution, 400nits brightness, 100% sRGB Color coverage. The HP Envy 13 2021 is a noteworthy budget ultrabook with a notable 51WHr battery, weighs merely 1.3KGs, has a full-sized Island-style Backlit Keyboard</td>
        <td>120000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Envy x360 13M i7 11th Gen </td>
        <td>HP Envy x360 13M-BD0023 11th Gen Intel Core i7-1165G7 processor, Intel Iris Xe Graphics, 8GB DDR4 RAM, 512GB SSD storage, 13.3-inch IPS display with Full-HD (1920 x 1080 pixels) resolution, 1000nits brightness, 72% NTSC Color Gamut (Color coverage close to 100% sRGB), 360-degree TouchScreen panel, BT WIN10 Webcam PALE GOLD Backlit Keyboard</td>
        <td>140000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Envy 13 2020 i7 10th Gen</td>
        <td>
            HP Envy 13 2020 x360 Ultra-Thin 2-in-1 convertible laptop with 10th Gen Intel Core i7-1065G7, 8GB RAM, 512GB SSD, 13.3-inch 4K Ultra-HD (3840 x 2160 pixels) TouchScreen Display, BT WIN10, Webcam, Silver Backlit Keyboard, FP Reader
        </td>
        <td>148000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>

</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

