
@{
    ViewData["Title"] = "hplaptopdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://www.nicepng.com/png/detail/74-748608_hp-logo-png-hd.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">HPLaptop</h2>
    <!-- <p class="des" >ROG is an abbreviation, which stands for Republic Of Gamers. TUF stands for The Ultimate Force. With an Asus ROG or TUF laptop, you're ready to play your favorite games. The TUF models are suitabe for most games. As long as they're graphically not too demanding and you don't always put the settings on ultra. Do you want to do that? Go for an ROG model, those video cards have GeForce GTX 1060 from the NVIDIA. You can play all your games on the highest settings with ROG.</p> -->
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>HP 250 G1</td>
        <td>HP 250 G1 is a DOS laptop with a 15.60-inch display. It is powered by a Core i3 processor and it comes with 4GB of RAM. The HP 250 G1 packs 500GB of HDD storage. Graphics are powered by Intel Integrated HD Graphics. Connectivity options include Wi-Fi 802.11 b/g/n, Bluetooth, Ethernet.</td>
        <td>40000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>HP 255 G6</td>
        <td>HP 255 G6 is a Windows 10 Home laptop with a 15.60-inch display that has a resolution of 1920x1080 pixels. It is powered by a APU Quad Core A6 processor and it comes with 4GB of RAM. The HP 255 G6 packs 500GB of HDD storage. Connectivity options include Wi-Fi 802.11 ac, Bluetooth and it comes with 3 USB ports, HDMI Port, Multi Card Slot, VGA Port, Mic In, RJ45 (LAN) ports.</td>
        <td>42000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>

</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

