
@{
    ViewData["Title"] = "omendes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://www.nicepng.com/png/detail/74-748608_hp-logo-png-hd.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">HP Omen</h2>
    <p class="des">HP is getting back into the gaming world with a new line of products called Omen. The Omen series will feature laptops, desktops, and accessories targeted across different price ranges, from cheaper notebooks up to higher-end towers for serious gamers with a lot of disposable income. </p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>OMEN 17 (RTX 2070)</td>
        <td>HP OMEN 17 Gaming Laptop Comes with 10th Generation, Intel Core i7-10750H Processor, 12GB DDR4 2933Mhz Memory and 256GB PCIe NVMe M.2 SSD solid state drive internal storage. The Laptop has 17.3 inch screen size, (W x D x H) 15.94 x 11.22 x 1.18 in Physical Dimension and 7.12 lbs weight and 4-cell, 70 Wh Li-ion polymer Battery.</td>
        <td>150000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>OMEN 17 Core i7 10th Gen (256GB SSD)</td>
        <td>HP OMEN 17 Gaming Laptop Comes with 10th Generation, Intel Core i7-10750H Processor, 8GB DDR4 2933Mhz Memory and 256GB PCIe NVMe M.2 SSD solid state drive and 1TB 7200 rpm SATA hard drive internal storage. The Laptop has 17.3 inch screen size, (W x D x H) 15.94 x 11.22 x 1.18 in Physical Dimension and 7.12 lbs weight and 4-cell, 70 Wh Li-ion polymer Battery.</td>
        <td>126000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Omen 15 AMD (RTX 3070)</td>
        <td>HP Omen 15z Gaming Laptop comes with AMD Ryzen 7-5800H Processor, 8GB DDR4 3200Mhz Memory and 1TB PCIe NVMe M.2 SSD Solid State Drive internal storage. The Laptop has 15.6 inch screen size, (W x D x H) 14.09 x 9.44 x 0.91 inches Physical Dimension and 5.43 lbs weight and 6-cell, 70.9 Wh Li-ion polymer battery.</td>
        <td>240000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>OMEN 17 Core i9 10th Gen (RTX 2080 Super)</td>
        <td>HP OMEN 17 Gaming Laptop Comes with 10th Generation, Intel Core i9-10885H Processor, 8GB DDR4 2933Mhz Memory and 512GB PCIe NVMe M.2 SSD solid state drive and 1TB 7200 rpm SATA hard drive internal storage. The Laptop has 17.3 inch screen size, (W x D x H) 15.94 x 11.22 x 1.18 in Physical Dimension and 7.12 lbs weight and 4-cell, 70 Wh Li-ion polymer Battery.</td>
        <td>260000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>OMEN 17 (RTX 2080)</td>
        <td>HP OMEN 17 Gaming Laptop Comes with 10th Generation, Intel Core i7-10750H Processor, 12GB DDR4 2933Mhz Memory and 256GB PCIe NVMe M.2 SSD solid state drive internal storage. The Laptop has 17.3 inch screen size, (W x D x H) 15.94 x 11.22 x 1.18 in Physical Dimension and 7.12 lbs weight and 4-cell, 70 Wh Li-ion polymer Battery</td>
        <td>190000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Omen 15 2020 Ryzen 7 4800H</td>
        <td>HP Omen 15 2020 15-EN0023 Gaming laptop with 4000-series AMD Ryzen 7 4800H, NVIDIA GTX 1660Ti Graphics Card with 6GB of VRAM, 16GB RAM, 1TB SSD, 15.6-inch Full-HD (1920 x 1080 pixels) display, BT WIN10 Webcam, MICA SILVER Backlit Keyboard</td>
        <td>175000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

