
@{
    ViewData["Title"] = "probookdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://www.nicepng.com/png/detail/74-748608_hp-logo-png-hd.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">HP Probooks</h2>
    <p class="des">he HP ProBook is a line of business-oriented laptop computers made by Hewlett-Packard (HP Inc.). HP marketed the ProBook series to business users; the list price was lower than that of HP's higher-end EliteBook series</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>ProBook 11 G3 EE x360 2-in-1 Celeron</td>
        <td> HP ProBook x360 11 G3 EE Notebook PC and super-affordable 2-in-1 convertible laptop with Intel Celeron N4100 processor, Up to 2.4GHz frequency, Intel UHD Graphics 600, 4GB DDR4 RAM, 128GB SATA-3 TLC Solid State Drive, 11.6-inch Touch-enabled IPS display, 1366 x 768 pixels resolution, 360-degree TouchScreen display, HP Long Life 3-cell 48 Wh Li-ion battery, battery charges up to 90% in 90 minutes, Dual speakers, 0.78-inch thickness, 1.44Kg Weight,  BT WIN10 Pro Webcam BLACK</td>
        <td>47000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ProBook x360 11 G6 (10th Gen)</td>
        <td>HP ProBook x360 11 G6 EE Laptop comes with 10th Generation, Intel Core i5-10210Y Processor, 8GB DDR4 2133Mhz Memory and 256 GB PCIe NVMe SSD Solid State drive internal storage. The Laptop has 11.6 inch screen size, (W x D x H) 11.8 x 8.8 x 0.83 in Physical Dimension and 3.16 lbs Weight and 3-cell, 48 WHr Long-life Battery.</td>
        <td>99000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ProBook x360 11 G6 Education Edition</td>
        <td>HP ProBook x360 11 G6 EE Laptop comes with 10th Generation, Intel Core i3-10110Y Processor, 4GB DDR4 2133Mhz Memory and 256GB PCIe NVMe SSD Solid State drive internal storage. The Laptop has 11.6 inch screen size, (W x D x H) 11.8 x 8.8 x 0.83 in Physical Dimension and 3.16 lbs Weight and 3-cell, 48 WHr Long-life Battery.</td>
        <td>76000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ProBook x360 11 G6 EE (10th Gen)</td>
        <td>AHP ProBook x360 11 G6 EE Laptop comes with 10th Generation, Intel Core i5-10210Y Processor, 8GB DDR4 2133Mhz Memory and 128GB M2 SATA-3 TLC SSD Solid State drive internal storage. The Laptop has 11.6 inch screen size, (W x D x H) 11.8 x 8.8 x 0.83 in Physical Dimension and 3.16 lbs Weight and 3-cell, 48 WHr Long-life Battery.</td>
        <td>88000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ProBook 455 G8 AMD (2021)</td>
        <td>HP ProBook 455 G8 Notebook Laptop comes with AMD Ryzen 5 5600U Processor, 4GB DDR4-3200 PC4 SO-DIMM (1 DIMM) Memory and 128GB PCIe TLC SSD solid state drive internal storage. The Laptop has 15.6 inch screen size, (W x D x H) 14.14 x 9.2 x 0.78 in Physical Dimension and 3.83 lbs weight and 3-cell 45 WHr Long Life Battery (Internal and not replaceable by customer. Serviceable by warranty).</td>
        <td>88000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ProBook 635 Aero G8 Notebook</td>
        <td>HP ProBook 635 Aero G8 Notebook Laptop comes with AMD Ryzen 7 Pro 5850U Processor, 4GB DDR4-3200 PC4 SO-DIMM memory (1 DIMM) Memory and 128GB PCIe NVMe TLC SSD solid state drive internal storage. The Laptop has 13.3 inch screen size, (W x D x H) 12.11 x 8.05 x 0.71 in Physical Dimension and 2.2 lb weight and 3-cell 42 WHr Long Life Battery (Internal and not replaceable by customer. Serviceable by warranty).</td>
        <td>198000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ProBook x360 11 (2021)</td>
        <td>HP ProBook x360 11 G7 Education Edition Laptop comes with Intel Pentium Silver N6000 Processor, 8GB LPDDR4x 2933Mhz Memory and 128GB PCIe NVMe TLC SSD Solid State drive internal storage. The Laptop has 11.6 inch screen size, (W x D x H) 11.81 x 8.07 x 0.83 inches Physical Dimension and 3.15 lbs Weight and 3-cell, 48 WHr Long-life Battery.</td>
        <td>82000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ProBook x360 11 G7 Notebook</td>
        <td>HP ProBook x360 11 G7 Education Edition Laptop comes with Intel Celeron N5100 Processor, 8GB LPDDR4x 2933Mhz Memory and 128GB PCIe NVMe TLC SSD Solid State drive internal storage. The Laptop has 11.6 inch screen size, (W x D x H) 11.81 x 8.07 x 0.83 inches Physical Dimension and 3.15 lbs Weight and 3-cell, 48 WHr Long-life Battery</td>
        <td>77000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td> Pavilion x360</td>
        <td>HP Pavilion x360 Convertible Laptop Comes with 11th Generation, Intel Core i5-1135G7 Processor, 8GB DDR4 3200Mhz Memory and 256GB PCIe NVMe M.2 SSD solid state drive internal storage. The Laptop has 15.6 inch screen size, (W X D X H) 14.13 x 9.51 x 0.81 inches Physical Dimension and 4.24 lbs weight and 3-cell, 41 Wh Lithium-ion prismatic Battery.</td>
        <td>63000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ProBook x360 435 G7 (2020)</td>
        <td>HP ProBook x360 435 G7 Convertible Laptop Comes with AMD Ryzen 7-4700U Processor, 16GB DDR4 3200Mhz Memory and 512GB PCIe NVMe SSD Solid State drive internal storage. The Laptop has 13.3 inch screen size, 12.2 x 8.8 x 0.7 inches (W x D x H) Physical Dimension and 3.19 lbs weight and 3-cell, 45 Wh Li-ion battery.</td>
        <td>99000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

