
@{
    ViewData["Title"] = "spectredes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://www.nicepng.com/png/detail/74-748608_hp-logo-png-hd.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">HP spectre</h2>
    <p class="des">he HP Spectre is a line of premium consumer laptops. The HP Spectre x360 delivers a high-end, flexible Windows laptop design at a mainstream price with a battery that runs all day.</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>Spectre x360 Core i7 10th Gen (16GB Ram)</td>
        <td>HP Spectre x360 15 Convertible Laptop Comes with 10th Generation, Intel Core i7-10750H Processor, 16GB DDR4 2933Mhz Memory and 1TB PCIe NVMe M.2 SSD solid state drive internal storage. The Laptop has 15.6 inches screen size, 14.17 x 8.91 x 0.79 inches (W x D x H) Physical Dimension and 4.23 lbs weight and 6-cell, 72.9 Wh Li-ion polymer battery.</td>
        <td>182000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spectre x360 10th Gen (AMOLED) Nepal</td>
        <td>HP Spectre x360 15 Convertible Laptop Comes with 10th Generation, Intel Core i7-10750H Processor, 8GB DDR4 2933 Mhz Memory and 256GB PCIe NVMe M.2 SSD solid state drive internal storage. The Laptop has 15.6 inches screen size, 14.17 x 8.91 x 0.79 inches (W x D x H) Physical Dimension and 4.23 lbs weight and 6-cell, 72.9 Wh Li-ion polymer battery. </td>
        <td>165000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spectre x360 Convertible</td>
        <td>HP Spectre x360 15 Convertible Laptop Comes with 10th Generation, Intel Core i7-10750H Processor, 8GB DDR4 2933 Mhz Memory and 512GB PCIe NVMe M.2 SSD solid state drive internal storage. The Laptop has 15.6 inches screen size, 14.17 x 8.91 x 0.79 inches (W x D x H) Physical Dimension and 4.23 lbs weight and 6-cell, 72.9 Wh Li-ion polymer battery.</td>
        <td>159000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spectre x360 15 (10th Gen)</td>
        <td>HP Spectre x360 15 Convertible Laptop Comes with 10th Generation, Intel Core i7-10750H Processor, 16GB DDR4 2933 Mhz Memory and 256GB PCIe NVMe M.2 SSD solid state drive internal storage. The Laptop has 15.6 inches screen size, 14.17 x 8.91 x 0.79 inches (W x D x H) Physical Dimension and 4.23 lbs weight and 6-cell, 72.9 Wh Li-ion polymer battery.</td>
        <td>154000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spectre Folio (2020)</td>
        <td>HP Spectre Folio 13 Laptop Comes with 10th Generation, Intel Core i7-10510Y Processor, 8GB LPDDR4 2666Mhz Memory and 512GB PCIe NVMe M.2 SSD solid state drive internal storage. The Laptop has 13.3 inch screen size, (W x D x H) 12.6 x 9.23 x 0.6 inches Physical Dimension and 3.24 lbs weight and 6-cell, 54.28 Wh Li-ion battery. </td>
        <td>143000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spectre x360 14 (2021)</td>
        <td>HP Spectre x360 14 Convertible Laptop comes with 11th Generation, Intel Core i7-1165G7 Processor, 16GB DDR4 3200MHz Memory and 256GB Intel SSD + 16GB Intel Optane memory Solid State drive internal storage. The Laptop has 13.5 inch screen size, 11.75 x 8.67 x 0.67 in (W x D x H) Physical Dimension and 2.95 lb Weight and 4-cell, 66 Wh Li-ion polymer battery.</td>
        <td>154000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spectre 13 x360 i5 10th Gen</td>
        <td>HP Spectre 13-AW0013 x360 2-in-1 convertible laptop with 10th Gen Intel Core i5-1035G4 processor, 8GB LPDDR4 RAM, 256GB SSD Storage, 13.3-inch TouchScreen display with Full-HD (1920 x 1080 pixels) resolution, BT WIN10, IR Camera, Natural Silver Backlit Keyboard, FP Reader, 0.7" thin, 2.87 lbs.</td>
        <td>154000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>Spectre 13 i7 10TH GEN</td>
        <td>HP Spectre 13-AW0013 x360 2-IN-1 Core™ i7-1065G7 1.3GHz 512GB SSD 8GB 13.3" (1920x1080) GORILLA TOUCHSCREEN BT WIN10 IR Camera NATURAL SILVER Backlit Keyboard FP Reader .7" thin, 2.87 lbs.</td>
        <td>185000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

