
@{
    ViewData["Title"] = "zbookdes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    h2, .des {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<img src="https://www.nicepng.com/png/detail/74-748608_hp-logo-png-hd.png" class="des">
<br>
<br>

<div>
    <h2 style="font-weight: bold;">HP Zbook</h2>
    <p class="des">HP ZBook is a brand of mobile workstations made by HP Inc. Introduced in September 2013,[3][4] it is a successor to HP's previous mobile workstations in the HP EliteBook series. The HP ZBook workstations feature Nvidia Quadro and AMD FirePro ISV-certified graphics cards and Thunderbolt connectivity. Display options include a touch-sensitive screen on the ZBook 14 and an HP DreamColor IPS panel on the ZBook 17. Additionally, a 3200×1800 resolution option has been announced for the ZBook 15.</p>
</div>


<br>
<br>





<h2 style="font-weight: bold;">Products</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Specs</th>
        <th>Cost</th>
        <th></th>
    </tr>
    <tr>
        <td>ZBook Fury 17 (Core i7)</td>
        <td>HP ZBook Fury 17 G7 Mobile Workstation Laptop comes with 10th Generation, Intel Core i7-10750H Processor, 64GB DDR4 2666Mhz Memory and 256GB PCIe NVMe Self Encrypted (SED) OPAL2 TLC SSD solid state drive internal storage. The Laptop has 17.3 inches screen size, (W x D x H) 15.69 x 10.52 x 1.06 inches Physical Dimension and 6.08 lbs weight and 8-Cell 94 WHr Lithium-Ion (Li-Ion) Battery.</td>
        <td>281000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZBook Fury 17 G7 Laptop (2020)</td>
        <td>HP ZBook Fury 17 G7 Mobile Workstation Laptop comes with 10th Generation, Intel Core i5-10400H with vPro Processor, 64GB DDR4 2666Mhz Memory and 256GB PCIe NVMe Self Encrypted (SED) OPAL2 TLC SSD solid state drive internal storage. The Laptop has 17.3 inches screen size, (W x D x H) 15.69 x 10.52 x 1.06 inches Physical Dimension and 6.08 lbs weight and 8-Cell 94 WHr Lithium-Ion (Li-Ion) Battery.</td>
        <td>259000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZBook Fury 17 G7 Mobile Workstation (2020)</td>
        <td>HP ZBook Fury 17 G7 Mobile Workstation Laptop comes with 10th Generation, Intel Core i5-10400H with vPro Processor, 16GB DDR4 2666Mhz Memory and 256GB PCIe NVMe Self Encrypted (SED) OPAL2 TLC SSD solid state drive internal storage. The Laptop has 17.3 inches screen size, (W x D x H) 15.69 x 10.52 x 1.06 inches Physical Dimension and 6.08 lbs weight and 8-Cell 94 WHr Lithium-Ion (Li-Ion) Battery.</td>
        <td>198000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZBook Firefly 15 G8 (Core i7)</td>
        <td>HP ZBook Firefly 15 G8 Mobile Workstation Laptop comes with 11th Generation, Intel Core i7-1185G7 with vPro Processor, 8GB DDR4 3200MHz Memory and 128GB PCIe TLC SSD Solid State drive internal storage. The Laptop has 15.6 inch screen size, (W X D X H) 14.15 x 9.19 x 0.76 inches Physical Dimension and 3.74 lbs Weight and 3-cell, 56 Wh Lithium-Ion Polymer battery.</td>
        <td>220000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZBook Firefly 15 G8 Laptop</td>
        <td>HP ZBook Firefly 15 G8 Mobile Workstation Laptop comes with 11th Generation, Intel Core i7-1165G7 Processor, 8GB DDR4 3200MHz Memory and 128GB PCIe TLC SSD Solid State drive internal storage. The Laptop has 15.6 inch screen size, (W X D X H) 14.15 x 9.19 x 0.76 inches Physical Dimension and 3.74 lbs Weight and 3-cell, 56 Wh Lithium-Ion Polymer battery.</td>
        <td>198000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZBook Firefly 14 G8 Laptop</td>
        <td>HP ZBook Firefly 14 G8 Mobile Workstation Laptop comes with 11th Generation, Intel Core i7-1165G7 Processor, 32GB DDR4 3200MHz Memory and 128GB PCIe TLC SSD Solid State drive internal storage. The Laptop has 14 inch screen size, (W X D X H) 12.73 x 8.45 x 0.71 inches Physical Dimension and 2.98 lbs Weight and 3 Cell 53 WHr Lithium-Ion Polymer Battery.</td>
        <td>231000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
    <tr>
        <td>ZBook Firefly G8 (11th Gen)</td>
        <td>HP ZBook Firefly 14 G8 Mobile Workstation Laptop comes with 11th Generation, Intel Core i7-1165G7 Processor, 8GB DDR4 3200MHz Memory and 128GB PCIe TLC SSD Solid State drive internal storage. The Laptop has 14 inch screen size, (W X D X H) 12.73 x 8.45 x 0.71 inches Physical Dimension and 2.98 lbs Weight and 3 Cell 53 WHr Lithium-Ion Polymer Battery.</td>
        <td>187000</td>
        <td><input type="button" name="buynow" value="buy now"></td>
    </tr>
</table>
<!-- <div class="review">
  <h5>Write a product review</h5>
  <textarea name="message" rows="3" cols="3"> </textarea>
  <div class="send">
    <button type="button" class="btn btn-danger">Submit</button>
  </div>
</div> -->
<br>

